*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
background:url(../img/Checklist.jpg);
background-size:contain;

}


.App{
background-color: #fff;
height: 12rem;
}

.toggler{
    position: absolute;
    top: 0;
    right: 0;
  
 
}

@keyframes animate{
    from{
      width: 0;
    }
    to{
        width: 10rem;
    }
}